@model RSSFeed.Models.RssFeeds

@{
    ViewData["Title"] = "Smazat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Smazat</h1>

<h3>Opravdu chcete tento feed smazat?</h3>
<div>
    <h4>RssFeeds</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Název
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Zpět na přehled</a>
    </form>
</div>
